.invite {
  padding: 60px 0 130px;
  background-color: $dark-blue;

  @media (min-width: $tablet-width) {
    padding: 51px 0 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 86px;
  }
}

.invite__wrapper {
  background-image: url("../img/background/message.svg");
  background-repeat: no-repeat;
  background-size: 237px 215px;
  background-position: center 346px;

  @media (min-width: $tablet-width) {
    background-size: 274px 249px;
    background-position: right 14px;
  }

  @media (min-width: $desktop-width) {
    background-size: 397px 361px;
    background-position: right top;
  }
}

.invite__img {
  display: block;
  margin-bottom: 59px;

  @media (min-width: $tablet-width) {
    width: 394px;
    height: 220px;
    margin-bottom: 73px;
    margin-left: -47px;
  }

  @media (min-width: $desktop-width) {
    width: 535px;
    height: 300px;
    margin-bottom: 65px;
    margin-left: -57px;
  }
}

.invite__button {
  margin-bottom: 322px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}

.invite__text {
  margin: 0;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 518px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 518px;
    margin-bottom: 48px;
  }

  &--medium {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 41px;
    width: 261px;

    @media (min-width: $tablet-width) {
      width: 518px;
    }
  }
}

.invite__arrow {
  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 85px;
    height: 28px;
    display: block;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 2px;
      background-color: $white;
      bottom: 0;
      left: 42px;
      transform: rotate(-32deg);
      transform-origin: left;
      transition: bottom 0.2s linear;
    }

    &::after {
      content: "";
      position: absolute;
      width: 49px;
      height: 2px;
      background-color: $white;
      bottom: 0;
      right: 42px;
      transform: rotate(32deg);
      transform-origin: right;
      transition: bottom 0.2s linear;
    }
  }
}

.invite__arrow-wrapper:hover .invite__arrow::after{
  bottom: -10px;
}

.invite__arrow-wrapper:hover .invite__arrow::before{
  bottom: -10px;
}

