.modal {
  padding: 40px 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 53px 40px 107px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 87px 82px;
  }
}

.modal__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.modal__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.modal__input-wrapper {
  margin: 0;
  margin-bottom: 26px;

  &:nth-of-type(5){
    margin-bottom: 28px;
  }
}

.modal__checkbox-wrapper {
  margin: 0;
  margin-bottom: 29px;
}

.modal__input {
  width: 100%;
  padding: 12px 21px;
}

.modal__input::placeholder {
  font-size: 18px;
  line-height: 25.2px;
}
