.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background-color: $white;
  font-family: "HelveticaNeue" sans-serif;
  display: flex;
  flex-direction: column;
}
