.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: $white;
  font-family: 'HelveticaNeue', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: $dark-blue;
  display: flex;
  flex-direction: column;
  position: relative;

  &--modal-opened {
    @media (min-width: $desktop-width) {
      overflow: hidden;
    }
  }
}

.page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.page__body--menu-opened .page__header {
  position: static;
}

.page__body--menu-opened .footer, .page__body--menu-opened .main {
  display: none;
}

.page__body--modal-opened .footer, .page__body--modal-opened .main {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page__body--modal-opened .page__header {
  @media (max-width: $tablet-max-width) {
    position: static;
  }
}
